#big-head {
  font-size: 500%;
  color: MidnightBlue;
}

#page-id {
  display: none;
}

/* reinstate this to expand the number of cards across the page: 
#page-container {
  width: 85%;
}
*/

#public-body {
  background-image:url('../images/harbour.jpeg');
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
  position: relative;
}

#admin-link:link, #admin-link:visited {
  background-color: DodgerBlue;
  color: white;
  padding: 15px 25px;
  text-align: center;
  display: inline-block;
}

#business-container {
  opacity: 0.8;
}
